.steps-block {
  // background-color: #fff;
  padding: 90px 0;
  &__red-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fa0369;
    margin: 0 0 18px 0;
  }
  &__title {
    font-weight: 500;
    font-size: clamp(32px, 1.821rem + 0.89vw, 42px);
    text-align: center;
    color: #fff;
    margin: 0 0 60px 0;
  }
  &-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px 30px;
  }
}

@media (max-width: 1000px) {
  .steps-block {
    &-row {
      grid-gap: 0px 10px;
    }
  }
}
@media (max-width: 800px) {
  .steps-block {
    &-row {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px 20px;
    }
  }
}
@media (max-width: 500px) {
  .steps-block {
    &-row {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px 20px;
    }
  }
}
