.why-tiktok-block {
  background-color: #fff;
  padding: 180px 0px 90px 0px;
  &-row {
    background-color: #141a25;
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-decription {
    width: 100%;
    padding: 60px 0px 60px 130px;
  }
  &__title {
    font-weight: 500;
    font-size: clamp(32px, 1.821rem + 0.89vw, 42px);
    color: #fff;
    margin-bottom: 24px;
  }
  &__text {
    font-weight: 400;
    font-size: clamp(16px, 0.964rem + 0.18vw, 18px);
    color: #fff;
    margin-bottom: 40px;
  }
  &__iphone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__image {
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
    position: absolute;
    bottom: -5px;
  }
}

@media (max-width: 1000px) {
  .why-tiktok-block {
    &-row {
      gap: 20px;
    }
    &-decription {
      padding: 45px 0px 45px 80px;
    }
  }
}
@media (max-width: 830px) {
  .why-tiktok-block {
    &-decription {
      padding: 30px 0px 30px 40px;
    }
  }
}
@media (max-width: 768px) {
  .why-tiktok-block {
    padding: 80px 0;
    &-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 20px;
    }
    &-decription {
      text-align: center;
      padding: 0;
    }
    &__iphone {
      display: none;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
